// color
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$green-light: rgb(69, 236, 116);
$green-dark: rgb(6, 85, 29);

$red: rgb(211, 46, 46);

$gray: rgb(146, 140, 140);

// font size
$font-size-small: 1.2rem;
$font-size-normal: 1.4rem;
$font-size-large: 1.6rem;
