*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "SansFont", Arial, sans-serif;
}

html {
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

  @include media-breakpoint-down(md) {
    font-size: 50%; //1 rem = 8px; 8px/16px = 50%
  }

  @include media-breakpoint-down(sm) {
    font-size: 43%; //1 rem = 7px; 7px/16px = 43%
  }
}

body {
  font-family: "SansFont", Arial, sans-serif;
  font-weight: normal;
  font-size: $font-size-normal;
  direction: rtl;
  box-sizing: border-box;
  overflow-x: hidden;
}

h1,
h2,
h3,
p {
  margin-bottom: 0;
}
