.header {
  display: flex;
  align-items: center;
  height: 5rem;
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 2rem 2.5rem;
  @include backGradientImg($green-light, $white);

  &_nav {
    ul {
      list-style: none;
    }
    li:not(:last-child) {
      margin-left: 1rem;
    }

    a {
      text-decoration: none;
      color: $black;
    }
  }

  .active {
    color: $red;
  }
}
