.Mu_loading {
  position: fixed;
  background-color: rgba($gray, 0.5);
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
