@font-face {
  font-family: "SansFont";
  src: url("../fonts/eot/SansFont.eot");
  src: url("../fonts/woff2/SansFont.woff2") format("woff2"), url("../fonts/woff/SansFont.woff") format("woff"), url("../fonts/ttf/SansFont.ttf") format("truetype"); }

@font-face {
  font-family: "SansFont";
  src: url("../fonts/eot/SansFont_Bold.eot");
  src: url("../fonts/woff2/SansFont_Bold.woff2") format("woff2"), url("../fonts/woff/SansFont_Bold.woff") format("woff"), url("../fonts/ttf/SansFont_Bold.ttf") format("truetype");
  font-weight: bold; }

@font-face {
  font-family: "SansFont";
  src: url("../fonts/eot/SansFont_Light.eot");
  src: url("../fonts/woff2/SansFont_Light.woff2") format("woff2"), url("../fonts/woff/SansFont_Light.woff") format("woff"), url("../fonts/ttf/SansFont_Light.ttf") format("truetype");
  font-weight: 200; }

@font-face {
  font-family: "SansFont";
  src: url("../fonts/eot/SansFont_Black.eot");
  src: url("../fonts/woff2/SansFont_Black.woff2") format("woff2"), url("../fonts/woff/SansFont_Black.woff") format("woff"), url("../fonts/ttf/SansFont_Black.ttf") format("truetype");
  font-weight: 900; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "SansFont", Arial, sans-serif; }

html {
  font-size: 62.5%; }
  @media (max-width: 767.98px) {
    html {
      font-size: 50%; } }
  @media (max-width: 575.98px) {
    html {
      font-size: 43%; } }

body {
  font-family: "SansFont", Arial, sans-serif;
  font-weight: normal;
  font-size: 1.4rem;
  direction: rtl;
  box-sizing: border-box;
  overflow-x: hidden; }

h1,
h2,
h3,
p {
  margin-bottom: 0; }

.font-size-small {
  font-size: 1.2rem; }

.font-size-normal {
  font-size: 1.4rem; }

.font-size-large {
  font-size: 1.6rem; }

.center {
  display: flex;
  justify-content: center;
  align-items: center; }

.Mu_loading {
  position: fixed;
  background-color: rgba(146, 140, 140, 0.5);
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.layout {
  position: relative;
  min-height: 100vh; }
  .layout_footer {
    position: absolute;
    bottom: 0; }

.header {
  display: flex;
  align-items: center;
  height: 5rem;
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 2rem 2.5rem;
  background-image: linear-gradient(to left, #45ec74, white); }
  .header_nav ul {
    list-style: none; }
  .header_nav li:not(:last-child) {
    margin-left: 1rem; }
  .header_nav a {
    text-decoration: none;
    color: black; }
  .header .active {
    color: #d32e2e; }

.todo {
  background-image: linear-gradient(to left, #928c8c, white); }
  .todo_add-btn {
    display: inline-block;
    text-decoration: none;
    color: black;
    background-color: rgba(146, 140, 140, 0.5);
    padding: 1rem 2rem;
    border-radius: 1rem;
    margin-bottom: 1rem; }
  .todo_item {
    display: flex;
    align-items: center;
    padding: 1rem; }
  .todo_item:not(:last-child) {
    margin-bottom: 3rem; }
  .todo_edit {
    display: flex;
    padding: 1rem; }
  .todo_edit:hover {
    background-color: rgba(146, 140, 140, 0.1);
    border-radius: 50%; }
  .todo_edit, .todo_edit:hover {
    color: rgba(0, 0, 0, 0.54); }

.notification {
  background-color: #d32e2e;
  padding: 1rem; }
